@import "tailwindcss";
@tailwind utilities;

body {
    background-color: #f5f6fa;
    margin: 0 5px;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

@theme {
  --animate-shimmer: shimmer 1.5s infinite;
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}